{% extends "BasePage.html" %}
{% load static %}
{% block title %}TRANSPORTATION{% endblock %}
{% block more-style %}
<link rel="stylesheet" href="{% static 'CSS/CityToCity.css' %}">
{% endblock %}
{% block content %}
<div class="body">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form action="{% url 'findcountrytransportation' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="example-email-input">Your Country</label>
                      <input name="source" class="form-control" type="text" id="example-email-input" placeholder="Type your country here">
                    </div>
                    <div class="form-group">
                      <label for="destination-country">Destination Country</label>
                      <input name="destination" class="form-control" type="text" id="destination-country" placeholder="Type your destination country here">
                    </div>
                    <div class="form-group">
                      <label for="date">Date</label>
                      <input name="date" class="form-control" type="date" id="date" placeholder="mm/dd/yyyy">
                    </div>
                    <div class="pull-right">
                      <button type="submit" class="btn btn-success">Find</button>
                    </div>
                                      
                    {{error}}

                </form>
            </div>
        </div>
    </div>
{% endblock %}